p.p1 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: center;
    font: 12.0px Arial;
    color: #000000
}

p.p2 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: center;
    font: 12.0px Arial;
    color: #000000;
    min-height: 14.0px
}

p.p3 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: justify;
    font: 12.0px Arial;
    color: #000000
}

p.p4 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: justify;
    font: 12.0px Arial;
    min-height: 14.0px
}

p.p6 {
    margin: 0.0px 0.0px 0.0px 17.9px;
    text-align: justify;
    font: 12.0px Arial;
    color: #000000
}

p.p7 {
    margin: 0.0px 0.0px 0.0px 17.9px;
    text-align: justify;
    font: 12.0px Arial;
    color: #000000;
    min-height: 14.0px
}

p.p8 {
    margin: 0.0px 0.0px 0.0px 17.9px;
    text-align: justify;
    font: 12.0px Arial
}

p.p9 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: justify;
    font: 12.0px Arial;
    color: #000000;
    min-height: 14.0px
}

p.p10 {
    margin: 0.0px 0.0px 0.0px 35.7px;
    text-align: justify;
    font: 12.0px Arial;
    min-height: 14.0px
}

p.p11 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 12.0px Arial;
    min-height: 14.0px
}

p.p12 {
    margin: 0.0px 0.0px 0.0px 17.9px;
    text-align: justify;
    font: 12.0px Arial;
    min-height: 14.0px
}

p.p13 {
    margin: 0.0px 0.0px 0.0px 17.9px;
    text-align: justify;
    font: 12.0px Arial;
    color: #0000ff;
    min-height: 14.0px
}

li.li5 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: justify;
    font: 12.0px Arial
}

span.s1 {
    text-decoration: underline
}

span.s2 {
    color: #000000
}

span.s3 {
    text-decoration: underline;
    color: #0000ff
}

ul.ul1 {
    list-style-type: disc
}